version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: ticket-reservation-db
    environment:
      POSTGRES_DB: ticket_reservation_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
